//variables
$gradiente-rosado: radial-gradient(circle, rgba(255,192,203,1) 0%, rgba(178,226,255,1) 100%);

//paleta de clores
$rosado-suave: #FFC0CB;
$verde-menta: #B2FFA9;
$amarillo-pálido: #FFF4B2;
$azul-cielo: #B2E2FF;
$lavanda: #E6B2FF;

//
$ancho-imagen-svg: 40px;
$alto-imagen-svg: 40px;
$angulo-final: 360;
$duracion-animacion: 1s;

//fuentes
$inicio: 'Indie Flower', cursive; 
$footer:  'Pacifico', cursive;