@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.form {


    .marcoInputs {
        border-radius: 8px;
        width: 70%;
        //margin: auto;
        background-color: $rosado-suave;
        @include borde;

        span {
            font-family: map-get($tipos-de-fuentes, titulo);
        }

        .btn {
            background-color: $azul-cielo;
            color: black;
            margin: auto;
            float: right;

        }
    }
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;

    img {
        width: $ancho-imagen-svg;
        height: $alto-imagen-svg;
        transition: transform $duracion-animacion ease-in-out;
    }

    img:hover {
        transform: rotate($angulo-final * 1deg); // Multiplicamos por 1deg para convertir el ángulo a grados
    }
}